@import "tailwindcss";

:root {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 248, 249, 250;
}

/* ลบ scroll-behavior ออกเพื่อไม่ให้ไปตีกับ Framer Motion */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}